@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #E5E5E5;
  color: #000000;
}

/* BOTTONS */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: black;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.button-brown {
  background-color:#756257;
  color: #FFFFFF;
}

.button-blue {
  background-color:#83B3D3;
  color: #FFFFFF;
}

.button-green {
  background-color:#7DB54F;
  color: #FFFFFF;
}

.button-booking {
  font-size: 20px;
  line-height: 36px;
  display: block;

}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.pagination-button {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
}


/* HEADER */
.main-navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-left {
  width: 309px;
  margin-right: 151px;
  margin-left: 71px;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  width: 138px;
}

.navigation-user {
  width: 250px;
  margin-left: auto;
  margin-right: 72px;
  display: flex;
  justify-content: space-around;
}

.navigation-link {
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.button-apply {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.button-more {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

/* INDEX main*/
.main-container {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.intro-image {
  display: block;
  margin: 0 auto;
}

.intro {
  background: url("../img/Index/index-background.jpg") no-repeat 0 0;
  background-color: black;
  color:#FFFFFF;
  background-size: 100% auto;
}

.intro::after {
  background-image: url("../img/Index/divider.svg");
  background-size: 100% auto;
  display: block;
  width: 1200px;
  height: 56px;
  content:"";
}

/* advantages */
.advantages {
  text-align: center;
  background: #FFFFFF;
}
.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin: 0 240px;
}

.advantages-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  display: block;
  margin: 0 240px;
}

/*advantages-grid*/
.advantages-grid {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.advantages-row {
  width: inherit;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-row .advantages-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item p {
  font-weight: 400;
}

.advantages-text-white {
  color: #FFFFFF;
}

.advantages-item-cold {
  background-color: #83B3D3;
  color:#FFFFFF;
}

.advantages-item-cold-12 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item-cold-20 {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

/* booking */
.booking {
  text-align: center;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}
.booking-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.booking-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* FOOTER */
/* subscribe */
.subscribe {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  background: black url("../img/Footer/background-sub.jpg") no-repeat;
  background-size: 100% auto;
  text-align: center;
}
.subscribe-text-white {
  color: #FFFFFF;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-discription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-input {
  width: 600px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  display: flex;
  align-items: center;
  opacity: 0.6;
}

.subscribe-form {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* footer-contacts */
.footer-contacts {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background: #FFFFFF;
}
/* social */
.social {
  width: 107px;
  display: flex;
  margin: 0 61px 0 71px;
  padding: 0;
  justify-content: space-between;
}

/* contacts */
.phone {
  text-decoration: none;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 720px;
}
/* footer-logo */
.footer-logo {
  width: 115px;
  margin-left: 0 72 0 auto;
}

/* CATALOG*/
.main-inner {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #FFFFFF;
}

.inner-header {
  width: 1200px;
  background: url("../img/Catalog/catalog-background.jpg") no-repeat;
  background-color:black;
  color:#FFFFFF;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  width: 528px;
  margin: 0 601px 8px 71px;
}

.breadcrumbs {
  width: 111px;
  margin: 0 auto 45px 73px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

/* catalog-filter */
.catalog-filter {
  width: 1057px;
  display: flex;
}

.catalog-filter-group:nth-child(1) {
  width: 150px;
  margin: 0 68px 0 71px;
}

.catalog-filter-group:nth-child(2) {
  width: 145px;
  margin-right: 168px;
}

.catalog-filter-group:nth-child(3) {
  width: 287px;
  margin-right: 81px;
}

.catalog-filter-group:nth-child(4) {
  width: 160px;
  margin-right: 72px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  list-style-type: none;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-input::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.7;
}

.catalog-filter-input {
  font-family: inherit;
  font-weight: 400;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color:#FFFFFF;
  background: transparent;
}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

/* CATALOG */
.catalog {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-sorting {
  width: 1057px;
  display: flex;
  margin: 0 auto;
}

.catalog-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  display: block;
  width: 360px;
  margin-right: auto;
}

.sorting {
  width: 287px;
  margin-right: 81px;
}

.display-type {
  width: 160px;
}

.sorting-select {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #333333;
}

/* CATALOG CARD */
.catalog-list {
  width: 1056px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.card {
  width: 1056px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.card-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.card-rating-value {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

/* load-more */
.load-more {
  width: 625px;
  margin: 0 auto;
}

/* pagination */
.catalog-pagination {
  width: 1056px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.pagination {
  width: 369px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-disabled {
  color:#000000;
  background-color: #F2F2F2;
}

.count-number,
.count-number + .visible-count-select {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #333333;
}
