/* ==================================
   Section - Fonts
   ================================= */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* ==================================
   Section - Global styles
   ================================= */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #e5e5e5;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

p {
  margin: 0;
}

.page-wrapper {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: inherit;
  background-color: #fff;
}

.container-md {
  max-width: 720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container-lg {
  max-width: 1056px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indent {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: #000000;
}

/* ==================================
   Section - Buttons
   ================================= */
   .button {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  .button-md {
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .button-brown {
    background-color:#756257;
    color: #FFFFFF;
  }

  .button-blue {
    background-color:#83B3D3;
    color: #FFFFFF;
  }

  .button-green {
    background-color:#7DB54F;
    color: #FFFFFF;
  }

  .button-booking {
    display: block;
    width: 575px;
    font-size: 20px;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .button-subscribe {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    min-width: 200px;
    padding: 20px;
  }

  .button-booking-nav {
    display: block;
    margin-left: 20px;
  }

  .button-reset {
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
  }

  .button-apply {
    font-size: 16px;
    line-height: 21px;
    width: 160px;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 55.33px;
  }

  .button-details {
    display: block;
    font-size: 16px;
    width: 151px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .button-tofavorit {
    display: block;
    font-size: 16px;
    width: 160px;
    padding-top: 9px;
    padding-bottom: 10px;
  }

  .button-more {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    max-width: 625px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .pagination-button {
    display: flex;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
    justify-content: center;
  }
/* ==================================
   Section - Typography
   ================================= */
.title-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #000;
}
.title-2 {
  font-weight: 700;
  font-size: 40px;
  color: #000;
}
.title-3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
}
.title-4 {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.title-5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.selector-1 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

/* ==================================
   Section - Header
   ================================= */
.page-header {
}

.main-navigation {
  display: grid;
  grid-template-columns: auto 350px 357px 350px auto;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-left {
  grid-column: 2/3;
}

.navigation-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 20px 0px;
  padding-right: 33px;
}

.logo-header {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-user {
  justify-content: end;
  grid-column: 4/5;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
  padding: 20px 10px;
}

/* ==================================
   Section - Intro
   ================================= */
.intro {
  background: #dae8f1 url("../img/Index/index-background.jpg") no-repeat
    center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 51px 0 82px 0;
}

.intro::after {
  position: absolute;
  content: "";
  background-image: url("../img/Index/divider.svg");
  max-height: 56px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ==================================
   Section - Advantages
   ================================= */
.advantages {
  text-align: center;
}
.advantages span {
  display: block;
}

.advantages-header {
  display: grid;
  grid-template-columns: 1fr 720px 1fr;
  padding: 63px 0 79px 0;
}

.advantages-header > * {
  grid-column: 2/3;
}

.advantages-title {
  margin-bottom: 23px;
}
.advantages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item-title {
  color: #000;
}

.advantages-item-cold .advantages-item-title {
  color: #FFFFFF;
}

.advantages-item-type-1 .advantages-item-title,
.advantages-item-type-1 .advantages-count {
  margin-bottom: 25px;
}

.advantages-logo {
  margin-bottom: 20px;
}
.advantages-item-type-2 .advantages-item-title {
  margin-bottom: 23px;
}

.advantages-item-padding-1 {
  padding: 98px 90px 77px;
}
.advantages-item-padding-2 {
  padding: 89px 75px 79px;
}
.advantages-item-padding-3 {
  padding: 98px 75px 77px;
}

.advantages-item-image-right {
  grid-column: 2/-1;
}

.advantages-item-image-left {
  grid-column: 1/3;
}

.advantages-item-cold {
  background-color: #83b3d3;
  color: #ffffff;
}

.advantages-item-cold-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-cold-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ==================================
   Section - Booking
   ================================= */
.booking {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 91px;
  display: grid;
  grid-template-columns: auto 720px auto;
}

.booking > * {
  grid-column: 2/3;
}

.booking-title {
  margin-bottom: 15px;
}

.booking-text {
  margin-bottom: 73px;
}

/* ==================================
   Section - Subscribe
   ================================= */
.subscribe {
  color: #fff;
  background: #8daab8 url("../img/Footer/background-sub.jpg") no-repeat
    center/cover;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 93px;
  display: grid;
  grid-template-columns: auto 800px auto;
}

.subscribe > * {
  grid-column: 2/3;
}

.subscribe-catalog {
  color: #333333;
  background: #fff;
  padding-top: 89px;
  padding-bottom: 137px;
}

.subscribe-title {
  color: inherit;
  margin-bottom: 15px;
}

.subscribe-discription {
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin-bottom: 26px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-label {
  display: block;
  width: calc(100% - 200px);
}

.subscribe-input {
  width: 100%;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

/* ==================================
   Section - Footer
   ================================= */
.footer-contacts {
  display: grid;
  grid-template-columns: auto 168px 720px 168px auto;
  text-align: center;
}

.social {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-link {
  display: block;
  padding: 15px 30px 15px 0;
}

.phone {
  grid-column: 3/4;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-logo {
  grid-column: 4/5;
  padding-top: 42px;
  padding-bottom: 44px;
}
/* ==================================
   Section - Inner Header
   ================================= */

.inner-header {
  background: #bdd0de url("../img/Catalog/catalog-background.jpg") no-repeat
    center/cover;
  color: #ffffff;
}

.inner-header-container {
  padding-top: 35px;
  padding-bottom: 83px;
}

.inner-header-title {
  color: #fff;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

/* ==================================
   Section - Filter
   ================================= */
.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
  max-width: 150px;
  width: 100%;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 167px;
  max-width: 145px;
  width: 100%;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 81px;
  max-width: 287px;
  width: 100%;
}

.catalog-filter-group:nth-child(4) {
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control-label {
  line-height: 23px;
}

.catalog-filter-input {
  display: flex;
  margin-bottom: 20px;
}

.catalog-filter-button {
  text-align: center;
}

/* ==================================
  Section - Catalog
  ================================= */
.catalog {
  display: grid;
  grid-template-columns: auto 1056px auto;
}
  
.catalog > * {
  grid-column: 2/3;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 42px;
}

.sorting-select {
  width: 287px;
  height: 48px;
}

.catalog-value {
  margin-right: auto;
}

.sorting {
  width: 287px;
  margin-right: 81px;
}

.display-type {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.display-type-item {
  border: 1px solid #000;
  width: calc((100% - 16px) / 3);
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================
   Section - cards
   ================================= */

.card {
  display: grid;
  grid-template-columns: auto 180px 37px 318px 521px auto;
  padding: 30px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.card-link {
  grid-column: 2/3;
}

.card-content {
  grid-column: 4/5;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-name {
  grid-column: 1/-1;
  margin-bottom: 1px;
}
.card-info-type {
  padding-bottom: 40px;
  grid-column: 1/2;
}
.card-info-price {
  padding-bottom: 40px;/* ? */
  grid-column: 2/-1;
}
.card-button {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-button-item-details {
  grid-column: 1/2;
}
.card-button-item-tofavorit {
  
  grid-column: 2/-1;
}

.card-column {
  grid-column: 5/6;
  justify-self: end;
}

.card-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 61px;
}

.card-rating-value {
  width: 160px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  background: #F2F2F2;
  border-radius: 4px;
}

.card-rating-item {
  margin-right: 3.5px;
  margin-left: 3.5px;
}
/* ==================================
  Section - load-more
  ================================= */
 
.load-more {
  text-align: center;
  padding-top: 31px;
  padding-bottom: 31px;
  margin-bottom: 31px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
} 

.catalog-pagination {
  display: flex;
  justify-content: space-between;
}

.pagination {
  width: 369px;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-disabled {
  color: #000000;
  background-color: #f2f2f2;
}

.visible-count {
  max-width: 386px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count-number {
  line-height: 23px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 50px;
}

.visible-count-select {
  width: 160px;
  min-height: 48px;
  padding-left: 17px;
}

.subscribe-container-catalog {
  padding-top: 89px;
  padding-bottom: 137px;
}