.intro {
  width: 1200px;
  height: 485px;
  background:
    url("../img/Index/divider.svg") no-repeat 0 100%,
    url("../img/Index/index-background.jpg") no-repeat 0 0;
}
.subscribe {
  width: 1200px;
  height: 411px;
  background:
    url("../img/Footer/background-sub.jpg") no-repeat;
}

.inner-header {
  width: 1200px;
  height: 408px;
  background:
    url("../img/Catalog/catalog-background.jpg") no-repeat;
}
